// Fonte
$fontePrincipal: "Roboto", sans-serif;

// Paleta de cores
$bgColor: #f5f6fa;
$primaryColor: #182C61;
$whiteColor: #fff;
$buttonColor: #44bd32;

// Breakpoints
$desktop: 1023px;
$tablet: 767px;